<a href="#" class="text-gray-700 hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm"
                          data-action="paid-by-dropdown#toggle paid-by-dropdown#setUser"
                          data-paid-by-dropdown-name-param="<%= user.name %>" >
  <%= user.name %>
</a>