<div class="container w-7/12 mx-auto mt-10 border h-screen flex">
  <div class="w-1/6 border">
    <div class="mb-20">
      <div class="flex items-center h-12 gap-1 m-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
        </svg>
        <a href="#" class="text-xl text-gray-600">Dashboard</a>
      </div>
      <div class="flex items-center h-12 gap-1 m-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6A2.25 2.25 0 0 1 6 3.75h2.25A2.25 2.25 0 0 1 10.5 6v2.25a2.25 2.25 0 0 1-2.25 2.25H6a2.25 2.25 0 0 1-2.25-2.25V6ZM3.75 15.75A2.25 2.25 0 0 1 6 13.5h2.25a2.25 2.25 0 0 1 2.25 2.25V18a2.25 2.25 0 0 1-2.25 2.25H6A2.25 2.25 0 0 1 3.75 18v-2.25ZM13.5 6a2.25 2.25 0 0 1 2.25-2.25H18A2.25 2.25 0 0 1 20.25 6v2.25A2.25 2.25 0 0 1 18 10.5h-2.25a2.25 2.25 0 0 1-2.25-2.25V6ZM13.5 15.75a2.25 2.25 0 0 1 2.25-2.25H18a2.25 2.25 0 0 1 2.25 2.25V18A2.25 2.25 0 0 1 18 20.25h-2.25A2.25 2.25 0 0 1 13.5 18v-2.25Z" />
        </svg>
        <a href="#" class="text-xl text-gray-600">All Expenses</a>
      </div>
    </div>

    <div class="mx-2 text-gray-600">
      <div class="flex justify-between border bg-gray-200 rounded py-1 px-1 my-4">
        <div>FRIENDS</div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </div>

      <div class="my-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
        <div class="inline-block">John Smith</div>
      </div>
      <div class="my-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
        <div class="inline-block">Samuel Corby</div>
      </div>
      <div class="my-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
        <div class="inline-block">Jayden Cooper</div>
      </div>
      <div class="my-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="1 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline-block">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
        <div class="inline-block">Brandon Gibbs</div>
      </div>
    </div>
  </div>

  <div class="w-4/6 w- border flex flex-col">
    <div class="basis-24 border flex justify-between">
      <div class="mx-4 my-6 text-2xl font-semibold">
        Dashboard
      </div>

      <div class="flex mx-4 my-6">
        <div class="mx-4">
          <%= link_to "Add an Expense", new_expense_path, data: { turbo_frame: :remote_modal }, class: "bg-gray-500 text-gray-100 hover:bg-gray-600 hover:text-gray-200 rounded-full p-3" %>
        </div>

        <div class="mx-4">
          <a href="#" class="bg-gray-100 text-gray-500 hover:bg-gray-200 hover:text-gray-600 rounded-full p-3">Settle Up</a>
        </div>
      </div>
    </div>
    <div class="basis-20 border">
      <div class="flex divide-x h-full">
        <div class="basis-1/3 flex flex-wrap flex-col place-content-center text-center">
          <div>total balance</div>
          <div>+1200</div>
        </div>
        <div class="basis-1/3 flex flex-wrap flex-col place-content-center  text-center">
          <div>you owe</div>
          <div>200</div>
        </div>
        <div class="basis-1/3 flex flex-wrap flex-col place-content-center  text-center">
          <div>you are owed</div>
            <div>1400</div>
          </div>
      </div>
    </div>
    <div class="basis-full border flex">

      <div class="basis-1/2 p-4">
        <div class="pb-4 text-left">YOU OWE</div>

        <div class="h-1/2 text-left">
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">John Smith</div>
            <div class="inline-block px-1">you owe</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">Samuel Corby</div>
            <div class="inline-block px-1">you owe</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">Jayden Cooper</div>
            <div class="inline-block px-1">you owe</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">Brandon Gibbs</div>
            <div class="inline-block px-1">you owe</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
        </div>
      </div>

      <div class="basis-1/2 border-l-2 p-4">
        <div class="pb-4 text-left">YOU ARE OWED</div>

        <div class="h-1/2 text-left">
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">John Smith</div>
            <div class="inline-block px-1">owes you</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">Samuel Corby</div>
            <div class="inline-block px-1">owes you</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">Jayden Cooper</div>
            <div class="inline-block px-1">owes you</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
          <div class="py-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 2 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-gray-500 inline-block">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
            <div class="inline-block text-lg pl-1">Brandon Gibbs</div>
            <div class="inline-block px-1">owes you</div>
            <div class="inline-block text-lg">$1200</div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="w-1/6 border">
  </div>
</div>