<div id="dropdownUsers" class="z-10 bg-white rounded-lg shadow w-60">
  <ul class="max-h-48 overflow-y-auto text-gray-700 aria-labelledby="dropdownUsersButton">
    <% friends.each do |friend| %>
      <%= link_to add_participant_expenses_path(friend_id: friend.id), class: "flex items-center px-4 py-2 hover:bg-gray-100", data: { turbo_stream: true, action: "expense-participants#storeUserId", expense_participants_user_id_param: friend.id } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 pr-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
        </svg>
        <%= friend.name %>
      <% end %>
    <% end %>
  </ul>
</div>
