<div id="<%= dom_id split %>">
  <p>
    <strong>Amount:</strong>
    <%= split.amount %>
  </p>

  <p>
    <strong>Item:</strong>
    <%= split.item_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= split.user_id %>
  </p>

</div>
