<table class="text-xs">
  <tbody>
    <tr>
      <th class="px-1 text-left">Item</th>
      <th class="text-center pr-3 pl-2.5 w-9">₹</th>
      <% @users.each do |user| %>
        <th class="text-center leading-4 cursor-pointer" title="<%= user.name %>"><%= user.name.split(" ").join(" </br> ").html_safe %></th>
      <% end %>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td>
        <input type="text" name="item_name" class="mb-0 w-52 p-1 border" value="" placeholder="Description">
      </td>
      <td class="pr-3 pl-2.5">
        <input type="text" name="amount" class="w-9 mb-0 ml-0 p-1 border" value="">
      </td>
      <% @users.each do |user| %>
        <td class="px-0.5 bg-gray-200 w-6 text-center border border-gray-600 border-collapse border-spacing-0">0.00</td>
      <% end %>
      <td class="pl-2.5 pr-4">
        <input type="checkbox" name="row_selector" checked="">
      </td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <td class="pt-2 pb-1 font-bold">Subtotal</td>
      <td class="pt-2 pb-1 pr-3 pl-2.5 font-bold" style="font-size: 13px">0.00</td>
      <% @users.each do |user| %>
        <td class="pt-2 pb-1 pr-3 pl-2.5 font-bold w-6">0.00</td>
      <% end %>
    </tr>

    <tr>
      <td>&nbsp;&nbsp;&nbsp;+ Tax</td>
      <td class="pb-1 pr-3 pl-2.5">
        <input type="text" name="tax" class="p-0.5 w-9 mr-0.5 mb-0 h-4 ml-0 border" placeholder="6.5%" value="">
      </td>
      <% @users.each do |user| %>
        <td class="px-0.5 w-6 text-center">
          <input type="text" name="tax_amount" class="w-7 p-0.5 h-4 mr-0.5 mb-0 ml-0 text-center border" value="0.00">
        </td>
      <% end %>
    </tr>

    <tr>
      <td class="small">&nbsp;&nbsp;&nbsp;+ Tip</td>
      <td class="pb-1 pr-3 pl-2.5">
        <input type="text" name="tip" class="p-0.5 w-9 mr-0.5 mb-0 h-4 ml-0 border" placeholder="18%" value="">
      </td>
      <% @users.each do |user| %>
        <td class="px-0.5 w-6 text-center">
          <input type="text" name="tip_amount" class="w-7 p-0.5 h-4 mr-0.5 mb-0 ml-0 text-center border" value="0.00">
        </td>
      <% end %>
    </tr>

    <tr class="border-t-2">
      <td class="font-bold pt-1.5">Grand total</td>
      <td class="font-bold pt-1.5 pr-3 pl-2.5">0.00</td>
      <% @users.each do |user| %>
        <td class="font-bold pt-1.5 px-0.5 text-center">0.00</td>
      <% end %>
    </tr>
  </tbody>
</table>